<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewSubaruList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9079FDF1ED81D5A0089E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9079FF81ED81D5B0089E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F907A0031ED81D5B0089E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
